body{
    background-image: url(../download.gif);
    color: white;
}
fieldset{
    background-image: none);
    background-repeat:  yellow;
    height: 15%;
}
.ticket{
font-family: 'Times New Roman';
float: center;
}
.dashboard{
    background-image: none;
    float: center;
    height: 4%;
    width: 10%;
    margin-right: 6%;
    margin-left: 3%;
}

    








